{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load i18n %}
    <section class="product">
        <div class="container">
            <div class="product__content">
                <div class="product-left">
                    <h1>О НАС</h1>
                </div>
                <div class="product-right">
                    <div class="about-company-all">
                        <div class="crumb">
                            <a href="#">Главная</a>
                            <a href="#">Продукция</a>
                            <span> Колбасы</span>
                        </div>
                        <h2 class="h2">
                            <a href="#">{{about.name}}</a>
                        </h2>
                        <div class="about-company__content">
                            {% for about in about %}
                                <div class="about-company">
                                    <p>{{ about.content|safe }}</p>
                                    <img src="{about.image.url}" alt="Изображение продукции"/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
{% endblock %}
