{% load static %}
{% load i18n %}  <!-- Загрузка модуля интернационализации -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}"/>
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="{% static 'fonts/PTSerif/stylesheet.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/PTSans/stylesheet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="header-logo">
                    <div class="header-logo__img"><a href="#"><img src="{% static 'img/svg/logo-header.svg' %}" alt="{% trans 'Логотип компании' %}"/></a></div>
                </div>
                <div class="header-nav__content">
                    <div class="navigation">
                        <ul class="nav">
                            <div class="nav-group">
                                <li class="nav-link active"><a href="/about">{% trans "О нас" %}</a></li>
                                <li class="nav-link"><a href="/product">{% trans "Продукция" %}</a></li>
                                <li class="nav-link"><a href="/publications">{% trans "Публикации" %}</a></li>
                            </div>
                            <div class="nav-group">
                                <li class="nav-link"><a href="/recipes">{% trans "Рецепты" %}</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="header-language">
                        <div class="network-link">
                            <a href="{{ social_media.instagram }}"><img src="{% static 'img/svg/instagram-icon.svg' %}" alt="{% trans 'Instagram' %}"/></a>
                            <a href="{{ social_media.facebook }}"><img src="{% static 'img/svg/facebook-icon.svg' %}" alt="{% trans 'Facebook' %}"/></a>
                            <a href="{{ social_media.phone_number }}"><img src="{% static 'img/svg/whatsapp-icon.svg' %}" alt="{% trans 'WhatsApp' %}"/></a>
                        </div>
                        <div class="language-link">
                     <div class="language-switcher">
                        <form method="post" action="{% url 'set_language' %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="ru">
                            <button type="submit" style="background: none; border: none; padding: 0;">
                                <img src="{% static 'img/svg/ru-icon.svg' %}" alt="{% trans 'Русский' %}" style="width: 30px; height: 30px;"/>
                            </button>
                        </form>
                        <form method="post" action="{% url 'set_language' %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="en">
                            <button type="submit" style="background: none; border: none; padding: 0;">
                                <img src="{% static 'img/svg/en-icon.svg' %}" alt="{% trans 'English' %}" style="width: 30px; height: 30px;"/>
                            </button>
                        </form>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo"><a href="#">{% trans 'Разработано YOUR-NAME' %} &copy; <span id="current-year"></span></a></div>
                <div class="footer-nav-content">
                    <nav>
                        <ul>
                            <li><a href="/about">{% trans "О нас" %}</a></li>
                            <li><a href="/product">{% trans "Продукция" %}</a></li>
                            <li><a href="/publications">{% trans "Публикации" %}</a></li>
                            <li><a href="/recipes">{% trans "Рецепты" %}</a></li>
                        </ul>
                    </nav>
                    <div class="footer-link">
                        <div class="network-link">
                            <a href="{{ social_media.instagram }}"><img src="{% static 'img/svg/instagram-icon.svg' %}" alt="{% trans 'Instagram' %}"/></a>
                            <a href="{{ social_media.facebook }}"><img src="{% static 'img/svg/facebook-icon.svg' %}" alt="{% trans 'Facebook' %}"/></a>
                            <a href="{{ social_media.phone_number }}"><img src="{% static 'img/svg/whatsapp-icon.svg' %}" alt="{% trans 'WhatsApp' %}"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@11.1.14/swiper.min.js"></script>
    <script src="{% static 'js/libs.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
