{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main__content">
    <section class="about-us">
        <div class="container">
            <div class="about-us__content">
                <div class="about-us__content-left">
                    <h2>публикации</h2>
                </div>
                <div class="publications__all">
                    {% for publication in publications %}
                    <div class="publications__card">
                        <div class="about-us__content-right">
                            <h2 data-mh="my-group"><a href="#">{{ publication.name }}</a></h2>
                            <h5 class="h5">{{ publication.created_at|date:"d.m.Y" }}</h5>
                            <p data-mh="my-group1">{{ publication.content|truncatewords:20 }}...<span>подробнее</span></p>
                            {% if publication.image %}
                                <div class="content-right__img">
                                    <img src="{{ publication.image.url }}" alt="{{ publication.name }}"/>
                                </div>
                            {% endif %}
                            <a class="link__detail" href="#">подробнее о нас</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
