{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="product recipes-inner">
    <div class="container">
        <div class="product__content">
            <div class="product-left">
                <h1>{{ recipe.name }}</h1>
            </div>
            <div class="product-right">
                <div class="about-company-all">
                    <div class="crumb">
                        <a href="#">Главная</a>
                        <a href="#">Продукция</a>
                        <span> Колбасы</span>
                    </div>
                    <div class="recipes__content">
                        <div class="recipes__content-block">
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}"/>
                            <p class="p">{{ recipe.description }}</p>
                        </div>
                        <div class="recipes__content-block">
                            <h2 class="h2">Ingredients</h2>
                            <p>{{ recipe.ingredients }}</p>
                        </div>
                        <div class="recipes__content-block">
                            <h2 class="h2">Directions</h2>
                            <p>{{ recipe.directions }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
