{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="product publications-inner-page">
  <div class="container">
    <div class="product__content">
      <div class="product-left">
        <h1>{{ publication.name }}</h1>
      </div>
      <div class="product-right">
        <div class="about-company-all">
          <div class="crumb">
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'product' %}">Продукция</a>
            <span> Колбасы</span>
          </div>
          <div class="about-company__content">
            <div class="about-company">
              <h5 class="h5">{{ publication.created_at|date:"Y-m-d" }}</h5>
              <p>{{ publication.content }}</p>
              <div class="about-company__img">
                <div class="main-slider">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="publications-inner-img">
                          <img src="{{ publication.image.url }}" alt="{{ publication.name }}"/>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
