{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="product publications-page">
    <div class="container">
        <div class="product__content">
            <div class="product-left">
                <h1>Публикации</h1>
            </div>
            <div class="product-right">
                <div class="about-company-all">
                    <div class="crumb">
                        <a href="#">Главная</a>
                        <a href="#">Публикации</a>
                    </div>
                    <div class="about-company__content">
                        {% for publication in publications %}
                            <div class="about-company">
                                <h2 class="h2">{{ publication.name }}</h2>
                                <h5 class="h5">{{ publication.created_at|date:"d.m.Y" }}</h5>
                                <p>{{ publication.content|truncatewords:20 }}...<span>подробнее</span></p>
                                {% if publication.image %}
                                    <img src="{{ publication.image.url }}" alt="{{ publication.name }}"/>
                                {% else %}
                                    <img src="{% static 'img/png/default-img.png' %}" alt="Default Image"/>
                                {% endif %}
                            </div>
                        {% empty %}
                            <p>Публикации отсутствуют.</p>
                        {% endfor %}
                    </div>
                    <div class="publication__pagination">
                        <div class="pagination__left">
                            {% if publications.has_previous %}
                                <a class="arrow-left" href="?page={{ publications.previous_page_number }}">←</a>
                            {% else %}
                                <span class="arrow-left disabled">←</span>
                            {% endif %}
                        </div>
                        <div class="publication__pagination-num">
                            {% for num in publications.paginator.page_range %}
                                {% if publications.number == num %}
                                    <a class="active" href="#">{{ num }}</a>
                                {% else %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="pagination__right">
                            {% if publications.has_next %}
                                <a class="arrow-right" href="?page={{ publications.next_page_number }}">→</a>
                            {% else %}
                                <span class="arrow-right disabled">→</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
