{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="product recipes">
    <div class="container">
        <div class="product__content">
            <div class="product-left">
                <h1>Рецепты</h1>
            </div>
            <div class="product-right">
                <div class="about-company-all">
                    <div class="crumb">
                        <a href="#">Главная</a>
                        <a href="#">Продукция</a>
                        <span> Колбасы</span>
                    </div>
                    <div class="about-company__content">
                        {% for recipe in recipes %}
                        <div class="about-company">
                            <h2 class="h2">{{ recipe.name }}</h2>
                            <p>{{ recipe.description }}</p>
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" />
                            <div class="recipe-categories">
                                {% for category in recipe.categories.all %}
                                <span class="category">{{ category.name }}</span>
                                {% endfor %}
                            </div>
                            <a href="#">Посмотреть рецепт</a>
                        </div>
                        {% empty %}
                        <p>Рецепты не найдены.</p>
                        {% endfor %}
                    </div>
                    <div class="publication__pagination">
                        <div class="pagination__left">
                            {% if recipes.has_previous %}
                                <a class="arrow-left" href="?page={{ recipes.previous_page_number }}">←</a>
                            {% else %}
                                <span class="arrow-left disabled">←</span>
                            {% endif %}
                        </div>
                        <div class="publication__pagination-num">
                            {% for page_num in recipes.paginator.page_range %}
                                <a class="{% if recipes.number == page_num %}active{% endif %}" href="?page={{ page_num }}">{{ page_num }}</a>
                            {% endfor %}
                        </div>
                        <div class="pagination__right">
                            {% if recipes.has_next %}
                                <a class="arrow-right" href="?page={{ recipes.next_page_number }}">→</a>
                            {% else %}
                                <span class="arrow-right disabled">→</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
