{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="product recipes-inner">
    <div class="container">
        <div class="product__content">
            <div class="product-left">
                <h1>Рецепты</h1>
            </div>
            <div class="product-right">
                <div class="about-company-all">
                    <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
                    <div class="recipes__content">
                        <div class="recipes__content-block">
                            <h2 class="h2">{{ recipes.name }}</h2>
                            <img src="{{ recipes.image.url }}" alt="{{ recipes.name }}"/>
                            <p class="p">{{ recipes.description }}</p>
                        </div>
                        <div class="recipes__content-block">
                            <h2 class="h2">Ingredients</h2>
                            <p>{{ recipes.ingredients }}</p>
                        </div>
                        <div class="recipes__content-block">
                            <h2 class="h2">Directions</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-product">
    <div class="container">
        <div class="product-sausage">
            <div class="product-right">
                <div class="product__card-all">
                    {% for product in recipes.products.all %}
                    <div class="product__card-inner">
                        <div class="product__card">
                            <div class="product__card-img" data-mh="my-group3">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}"/>
                            </div>
                            <h4 data-mh="my-group">{{ product.name }}</h4><a href="#"></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
